#horse-form {
    display: flex;
    flex-direction: column;
}

#horse--display {
    margin: 10px;
}

#horse-game--display {
    margin-bottom: 15px;
}

#horse-choice {
    display: flex;
    justify-content: space-between;
    margin: -15px -15px -15px 0;
    min-width: 100px;
    width: 15%;
}

#currency-amount {
    margin: 0 0 10px 0;
}

#horse-options-header {
    display: flex;
    justify-content: space-between;
    min-width: 315px;
    width: 60%;
}

#horse-amount {
    display: flex;
    width: 60%;
}

#horse-amount-input {
    margin-right: 10px;
    min-width: 200px;
    width: 70%;
}

#horse-submit {
    min-width: 100px;
    width: 30%;
}

#horse-form fieldset {
    margin: 5px 0px;
    padding: 0px;
}

#horse-submit {
    border-radius: 2px;
    background-color: #47ba1a;
}

#horse-submit:hover {
    transition: 0.5s;
    background-color: #4cc81c;
}