#fund-form {
    display: flex;
    flex-direction: column;
}

#current-currency {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    width: 60%;
}

#fund-header {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    width: 60%;
}

#fund-amount {
    box-sizing: border-box;
    min-width: 300px;
}

#funds-input {
    flex-shrink: 2;
    margin-right: 10px;
    width: 40%;
}

#fund-submit {
    width: 20%;
}

fieldset {
    margin-top: 10px;
    padding: 0px;
}